version: '3'
services:
  mysql:
    image: 'mysql:5.7.24'
    command: --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=NutritionDB
      - MYSQL_ROOT_HOST=%
  api:
    build:
      dockerfile: Dockerfile.dev
      context: .
    ports:
      - 80:80
      - 443:443
    depends_on:
      - mysql
    volumes:
      - .:/home/eatfit/eatfitrepo/EatFitService
    environment:
      - DJANGO_SETTINGS_MODULE=EatFitService.local_settings