{% extends "utils/base.html" %}
{% block title %}Import CSV{% endblock %}

{% block content %}

<h2>Data Import Tool</h2>

<form class="form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Import Type:</p>
    <div id="import-type">
        {{ form.import_type.label }} : {{ form.import_type }}
    </div>
    <br>
    <br>
    <div id="allergen-fields">
        <p>{{ form.allergen_name.label }}: {{ form.allergen_name }}</p>
        <p>{{ form.allergen_certainty.label }}: {{ form.allergen_certainty }}</p>
    </div>
    <div id="nutrient-fields">
        <p>{{ form.nutrients_name.label }}: {{ form.nutrients_name }}</p>
        <p>{{ form.nutrients_amount.label }}: {{ form.nutrients_amount }}</p>
        <p>{{ form.nutrients_unit_of_measure.label }}: {{ form.nutrients_unit_of_measure }}</p>
    </div>
    <div id="product-fields">
        <p>{{ form.product_name_de.label }}: {{ form.product_name_de }}</p>
        <p>{{ form.product_weight.label }}: {{ form.product_weight }}</p>
        <p>{{ form.product_image.label }}: {{ form.product_image }}</p>
        <p>{{ form.product_ingredients.label }}: {{ form.product_ingredients }}</p>
        <p>{{ form.product_major.label }}: {{ form.product_major }}</p>
        <p>{{ form.product_minor.label }}: {{ form.product_minor }}</p>
        <p>{{ form.product_weight_unit.label }}: {{ form.product_weight_unit }}</p>
        <p>{{ form.product_weight_integer.label }}: {{ form.product_weight_integer }}</p>
    </div>
    <p>{{ form.file.label }}: {{ form.file }}</p>
    <br>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>

<script type="text/javascript">
    window.onload = function() {
        hideFields()
    };

    function hideFields() {

        let currentSelection = document.getElementById('form-selection').value;

        if (currentSelection === "Allergens") {

            document.getElementById('allergen-fields').style.display = '';
            document.getElementById('nutrient-fields').style.display = 'none';
            document.getElementById('product-fields').style.display = 'none';

        } else if (currentSelection === "Nutrients") {

            document.getElementById('allergen-fields').style.display = 'none';
            document.getElementById('nutrient-fields').style.display = '';
            document.getElementById('product-fields').style.display = 'none';

        } else {

            document.getElementById('allergen-fields').style.display = 'none';
            document.getElementById('nutrient-fields').style.display = 'none';
            document.getElementById('product-fields').style.display = '';
        }
    }
</script>

{% endblock %}
