*.pyc
.DS_Store
.idea/
FoodCoachWebsite/FoodCoachWebsite/obj/
FoodCoachWebsite/FoodCoachWebsite/env/
FoodCoachWebsite/FoodCoachWebsite/static/
FoodCoachWebsite/FoodCoachWebsite/bin/
FoodCoachWebsite/FoodCoachWebsite/web.debug.config
FoodCoachWebsite/FoodCoachWebsite/web.config
FoodCoachWebsite/.vs/FoodCoachWebsite/v14/.suo
FoodCoachWebsite/FoodCoachWebsite/foodcoachwebsite - Web Deploy.pubxml.user
FoodCoachWebsite/FoodCoachWebsite/foodcoachwebsite - Web Deploy.pubxml
FoodCoachWebsite/FoodCoachWebsite/db.sqlite3
FoodCoachWebsite/FoodCoachWebsite/FoodCoachWebsite.pyproj.user
SaltTrackerService/SaltTrackerService/env/
SaltTrackerService/SaltTrackerService/static/
SaltTrackerService/SaltTrackerService/obj/
SaltTrackerService/SaltTrackerService/cache/
SaltTrackerService/SaltTrackerService/db.sqlite3
SaltTrackerService/SaltTrackerService/.vs/SaltTrackerService/v15/.suo
SaltTrackerService/SaltTrackerService/bin/
EatFitService/env/
EatFitService/db.sqlite3
EatFitService/.vs/EatFitService/v14/.suo
EatFitService/EatFitService.pyproj.user
EatFitService/EatFitService/local_settings.py
EatFitService/obj/
EatFitService/bin/
EatFitService/ptvs_virtualenv_proxy.py
EatFitService/web.config
EatFitService/web.debug.config
EatFitService/media/
EatFitService/.vs/
EatFitService/.idea/
EatFitService/localenv/
EatFitService/static/
EatFitService/Dockerfile.dev
EatFitService/docker-compose.yml
EatFitService/worker.sh
EatFitService/nutritiondb.json
EatFitService/000-default-le-ssl.conf
EatFitService/000-default.conf
