image: atlassian/default-image:2

pipelines:
  default:
    - step:
        services:
          - docker
        script:
          - curl -L "https://github.com/docker/compose/releases/download/1.23.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          - cd EatFitService
          - cp settings_keys.template.py settings_keys.py
          - docker-compose -f docker-compose.yml run api py.test